img {
	width: 300px;	
	
}
#interesting-fact {
	font-style: italic;
}
span {
	font-weight: bold;
}
#facts {
	list-style: none;
	padding-left: 0px;
}
#container {
	border: 5px solid #4F4F45;
	padding: 1em;
	background-color:#faf0be;
	width: 300px;
	box-shadow: 5px 5px 5px black;
	margin: auto;
}
#summary {
	width: 300px;

}

html {
	background-color: #E6E6E6
}
.animal-info {
	border : 2px solid #4F4F45;
	padding: 5% 0;
}